<!-- <h1>Hello World!</h1>

<p>{{nome}}</p>
<p>{{getSobrenome()}}</p>
<p>{{cliente.nome}}</p>

<button (click)="aoClicar()" >Clica</button>
<input type="text" placeholder="inforeme o nome" (change)="onInputNomeChange($event)">
<input type="text" (keydown)="onInputKeyD($event)"
                   (keyup)="onInputKeyU($event)">
<button *ngIf="isAtivo; else meuBlocoElse">nao vai sumir</button>
<button *ngIf="nome == 'Oi'">vai sumir </button>

<ng-template #meuBlocoElse>
  <button>Foi elsesado</button>
</ng-template>

<table border = 1>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>Ativo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.ativo}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <app-novo [teste]="nome" (evento)="onEvento($event)"> </app-novo> -->

<!-- <app-formulario></app-formulario> -->
<a routerLink="/sobre">sobre sem param  |</a>
<a [routerLink]="['/sobre' , 'lala']">|  sobre com param</a>
<router-outlet></router-outlet>